<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l12 s12 center">
        <img class="responsive-img" src="images/logof.png">
        <p class="grey-text text-lighten-4"><i class="fa fa-envelope"></i> hola@splik.mx</p>
        <div class="col l12 s12">
          <a class="light-blue-text text-darken-4" href="https://www.facebook.com/splikmx"><i class="fa fa-facebook fa-2x"></i></a>
          <a class="light-blue-text text-darken-1" href="https://twitter.com/splikmx"><i class="fa fa-twitter fa-2x"></i></a>
          <a class="amber-text text-darken-3" href="https://www.instagram.com/splikmx"><i class="fa fa-instagram fa-2x"></i></a>
          <a class="red-text text-darken-4" href=""><i class="fa fa-google-plus fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Splik de México.
    <a class="grey-text text-lighten-4 right modal-trigger" href="#legal">Políticas y Terminos.</a>
    </div>
  </div>
</footer>
<div id="legal" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
