<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center"><img src="images/logoc.png" alt=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn modal-trigger" href="#contact"> Contactanos</a></li>
      </ul>
    </div>
  </nav>

</div>

<div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating blue modal-trigger" href="#contact"><i class="material-icons">email</i></a></li>
    </ul>
</div>
