<div class='container'>
  <div class='section'>
    <div class='row'>
      <div class='col s12 m3'>
        <div class='icon-block'>
          <h2 class='center teal-text'>
            <i class='fa fa-diamond'></i>
          </h2>
          <h5 class='center teal-text accent-1'>Diseño.</h5>
          <p class='center light'>Nuestro objetivo es cautivar con interfaces únicas, sencillas, multipantalla y multidispositivo.</p>
        </div>
      </div>
      <div class='col s12 m3'>
        <div class='icon-block'>
          <h2 class='center teal-text'>
            <i class='fa fa-tablet'></i>
          </h2>
          <h5 class='center teal-text accent-1'>Desarrollo.</h5>
          <p class='center light'>En cada línea de código no solo expresamos nuestra pasión si no nuestro compromiso por cambiar al mundo.</p>
        </div>
      </div>
      <div class='col s12 m3'>
        <div class='icon-block'>
          <h2 class='center teal-text'>
            <i class='fa fa-area-chart'></i>
          </h2>
          <h5 class='center teal-text accent-1'>Marketing online.</h5>
          <p class='center light'>Posicionamiento en buscadores, primeros lugares, SEO, SEM, Redes sociales, somos Google Partner.</p>
        </div>
      </div>
      <div class='col s12 m3'>
        <div class='icon-block'>
          <h2 class='center teal-text'>
            <i class='fa fa-shopping-basket'></i>
          </h2>
          <h5 class='center teal-text accent-1'>E-commerce.</h5>
          <p class='center light'>Construimos y diseñamos hermosas tiendas de comercio electrónico, altamente funcionales, somos Shopify Partner.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='section'>
  <div class='col s12 m12 l12 center panel'>
    <h5>Esta es la tecnología que amamos</h5>
    <p>
      <img class="responsive-img" src="images/banner.png">
    </p>
  </div>
</div>
