<div class='container'>
  <div class='section'>
    <div class='row'>
      <div class='col s12 m4'>
        <div class='icon-block'>
          <h2 class='center teal-text accent-3'>
            <i class='fa fa-smile-o'></i>
          </h2>
          <h5 class='teal-text accent-1 center'>Nos conocemos.</h5>
          <p class='center light'>Entendemos los procesos de tu negocio, investigamos hábitos y costumbres de tus clientes, analizamos a tu competencia, encontramos áreas de oportunidad.</p>
        </div>
      </div>
      <div class='col s12 m4'>
        <div class='icon-block'>
          <h2 class='center teal-text accent-3'>
            <i class='fa fa-sliders'></i>
          </h2>
          <h5 class='teal-text accent-1 center'>Lo planeamos.</h5>
          <p class='center light'>Establecemos objetivos, diseñamos productos interactivos centrados en los usuarios: User Experience (UX), Service Design (SD) y Design Thinking (DT).</p>
        </div>
      </div>
      <div class='col s12 m4'>
        <div class='icon-block'>
          <h2 class='center teal-text accent-3'>
            <i class='fa fa-code'></i>
          </h2>
          <h5 class='teal-text accent-1 center'>Lo desarrollamos.</h5>
          <p class='center light'>Usamos las mejores prácticas, entregamos 33% más rápido que otras agencias, medimos su funcionalidad y reporteamos los resultados.</p>
        </div>
      </div>
    </div>
  </div>
</div>
