<%- partial ('header.ejs') %>
<section>
  <div class="row">
    <div class="col l12 center">
      <h4>Somos una agencia premier de desarrollo de aplicaciones profesionales.</h5>
      <h5>Nos especializamos en</h4>
    </div>
  </div>
  <%- partial ('features.ejs') %>
  <div class="row">
    <div class="col l12 center">
      <h4>Queremos cambiar al mundo con productos increíbles.</h5>
      <h5>¿Comó funciona?</h4>
    </div>
  </div>
  <%- partial ('proccess.ejs') %>
</section>
<%- partial ('contact.ejs') %>
